body {
  background-color: #4d0405;
  color: rgba(100, 128, 0, 0.75);
}

p {
  color: rgba(255, 0, 0, 0.8);
  background-color: rgba(255, 0, 0, 0.25);
}

.selector {
  background-color: rgba(51, 51, 51, 0.75);
}